

<table>

<% @tickets.each do |ticket| %>
  <tr>
  <td><a href="/ticket/<%= ticket.id %>"><%= ticket.subject %></a></td>
  <td><%= parse_time(ticket.created_at) %></td>
  </tr>
<% end %>
</table>

<div id="page">
  <% if @page.to_i - 1 >= 1 %>
    <a href="/page/<%= @page.to_i - 1 %>">&#9664;</a>
  <% end %>

  <span><strong>Page <%= @page %> of <%= @num_of_pages %></strong></span>

  <% if @page.to_i < @num_of_pages %>
    <a href="/page/<%= @page.to_i + 1 %>">&#9654;</a>
  <% end %>
</div>